#root{

  /* height: 100%; */
  width: 100%;

}


.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.alert{
  color: red;
}

.input-div{
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 300px;
  margin: 10px 20px;

}
.input-div input{
  margin: 5px;
}
.link-Button {
  text-decoration: none;
  border: solid gray 1px;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #78c800;
  color: white;
  width: 250px;
  margin: 0 auto;
  transition: .5s;
}
.link-Button:hover{
  background-color: #5d9b00;
}

.total{
  background-color: #F8D043;
  color: rgb(197, 103, 21);
  border-radius: 20px;
  /* transition: 1s; */
}
.small-total{
  background-color: #F8D043;
  color: rgb(197, 103, 21);
  border-radius: 20px;
}
.DisplayScore{
  width: 100%;
}

body{
  max-width: 1000px;
  min-height: 100vh;
}

header, footer{
  flex-shrink: 0;
}
main{
  flex-grow: 1;
}

.page-footer{
  /* position: relative; */
  /* bottom: 0px; */
  height: 100px;
  width: 100%;
  background-color: #1cb0f6;
  margin-top: auto;
  border-radius: 20px 20px 0 0;
}

h1{
  text-align: center;
  border-bottom: 2px white solid;
  width: 80%;
  margin: 5px auto;
  padding-bottom: 10px;
  color: white;
  /* background-color: #1cb0f6; */
}

h1 a{
  text-decoration: none;
  /* color: #1cb0f6; */
  /* color: rgb(70, 70, 70); */
  color: white;
}

header{
   background-color: #1cb0f6;
   padding-bottom: 20px;
   border-radius: 0 0 20px 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

h2{
  border-bottom: 1px;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  background-color: #CE82FF;
  border-radius: 20px;
  color: white;
}

h3{
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  /* border-bottom: 2px solid #FC4848;
  border-radius: 10px; */
  width: 80%;
  padding: 10px 5px 5px 10px;
}

h4{
  font-size: 20px;
}

label{
  font-size: 20px;
  margin: 20px;
}
input{
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  border-color: gray;
  margin-bottom: 10px;
}

form footer{
  display: flex;
  flex-direction: column;
}

button{
  border: solid #528800 2px;
  font-size: 25px;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 20px;
  background-color: #78c800;
  color: white;
  max-width: 300px;
  box-shadow: 3px 3px #5d9b00;
  transition: .5s;
}
button:hover{
  cursor: pointer;
  background-color: #5d9b00;
}

form{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px gray solid;
  border-radius: 20px;
  max-width: 350px;
  margin: 0 auto;
  padding: 30px 0;
}

nav{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
  color: #1691ca;
  font-size: 20px;
  border: 2px solid #1691ca;
  background-color: white;
  padding: 10px;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 3px 3px;
  margin: 10px;
  transition: .5s;
}
nav a:hover{
  cursor: pointer;
  background-color: lightgreen;
}

p{
  margin: 20px auto;
  width: 80%;
  font-size: 20px;
  text-align: center;
}

*:focus{
  outline: none;
  box-shadow: 0px 0px 6px blue;
}

ul{
  /* margin: 0 auto;
  padding:0;
  width: 85%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:0;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}


@media screen and (min-width: 800px){
  .wordListItem{
    /* max-width: 400px; */
  }
}



