.display-user{
  font-size: 20px;
  text-align: left;
  margin: 10px;
  color: white;
}
.user-name{
  color: rgb(70, 70, 70);
}

.logout{
  
}

.header-options{
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
}