.display-user{
  font-size: 20px;
  text-align: left;
  margin: 10px;
}
.user-name{
  color: white;
}

.logout{
  
}

.header-options{
  width: 100%;
  display: flex;
  justify-content: space-between;
}