.dashboard{
  font-size: 30px;
  font-weight: bold;
}

.Dashboard-lang-total h2{
  margin-bottom: 0;
  border-radius: 20px 20px 0 0;
}
.Dashboard-lang-total p{
  margin-top: 0;
  border-radius: 0 0 20px 20px;
  padding: 10px;
}

.wordListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 5px 10px 5px;
  /* max-width: 300px; */
}

.wordListItem *{
  margin: 5px;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-Button {
  text-decoration: none;
  border: solid gray 1px;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #78c800;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  margin-top: 40px;
}
